.contact{
    margin-top: 5rem;
    margin-bottom: 10rem;
    form{
        .custom-input{
            margin-top: 2rem;
            position: relative;
            input, textarea{
                width: 100%;
                border: none;
                border-bottom: 1px solid #ddd;
                height: 3rem;
                color: #909090;
                box-shadow: none;
                outline: none;
                font-size: 1.1rem;
                padding-left: 1rem;
                font-weight: 500;
                &::placeholder{
                    color: #999;
                    font-size: 1.1rem;
                }
            }
            .icon{
                position: absolute;
                right: 1rem;
                top: 50%;
                color: #909090;
                font-size: 1.1rem;
            }
            textarea{
                height: 10rem;
            }
        }
        .form-button{
            margin-top: 2rem;
        }
    }
    .info{
        margin-top: 5rem;
        p, span{
            color: #555555;
            margin-top: 1rem;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
        ul{
            li{
                margin-top: 2rem;
                .icon{
                    font-size: 2.2rem;
                    background-color: #f5f5f5;
                    width: 4.2rem;
                    height: 4.2rem;
                    text-align: center;
                    color: #fe00c5;
                    border-bottom: 2px solid #fe00c5;
                }
                .title{
                    color: var(--heading-text-color);
                    font-size: 1.4rem;
                    font-weight: bold;
                }
                &:first-child{
                    .icon{
                        border-bottom: 2px solid #001376;
                        color: #081245;
                    }
                }
                &:last-child{
                    .icon{
                        border-bottom: 2px solid #ff4200;
                        color: #ff4200;
                    }
                }
            }
        }
    }
}