.custom-button{
    background-color: blue;
    padding: 0.8rem 3rem;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    &::after{
        content: "";
        position: absolute;
        background-color: #000;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        left: 0;
        bottom: 0;
        transform: translate(-50%, 50%);
        opacity: 0.3;
        transition: 0.5s;
        z-index: -1;
    }
    &:hover{
        &::after{
            width: 25rem;
            height: 25rem;
        }
    }
}