.top-to-btm{
    position: relative;
    width: 50px;
}

.icon-position{
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 20;
}

.icon-style{
    background-color: #25283a;
    border: 2px solid #25283a;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    transition: all .5s ease-in-out;
}

.icon-style:hover{
    animation: none;
    background: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}