:root{

    --main-color: #ffae00;
    --second-color: #fe00c5;
    --text-color: #4F547B;
    --heading-text-color: #140342;

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-purple: #a063f5;

    --color-1: #f9d464;

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-warning-light: rgba(234, 181, 7, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --color-light: #f5f8fa;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 0.8rem;

    --color-box-shadow : rgba(132, 139, 200, 0.18);
    --box-shadow: 0 1rem 2rem var(--color-box-shadow);
    --box-shadow-main-color: 0 1rem 2rem rgba(71, 7, 234, 0.2);
    --box-shadow-2: 0 2rem 3rem var(--color-light);

    --color-dark-variant: #677483;

}
