.faq{
    margin-top: 2rem;
    .accordion-item{
        background-color: transparent;
        margin-top: 2rem;
        .accordion-button{
            background-color: transparent;
            color: #000;
            font-size: 1.1rem;
            font-weight: 500;
            border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
            box-shadow: none;
            &::after{
                background-image: url(../../assets/images/faq/plus.png);
            }
        }
        .accordion-body{
            font-size: 0.95rem;
        }
    }
    img{
        max-width: 100%;
        @media (max-width: 991px) {
            margin-top: 40px;
        }
    }
}

.accordion-button:not(.collapsed)::after{
    background-image: url(../../assets/images/faq/minus.png) !important;
    transform: none;
}