.sponsors{
    margin-top: 5rem;
    .details{
        margin-top: 1rem;
        margin-bottom: 2rem;
        color: var(--text-color);
        line-height: 1.7;
    }
    figure{
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
        img{
            max-width: 100%;
        }
    }
}